<br>

<div id="form" class="col-sm-12">
  <form>
    <div class="row">
        <label class="col-sm-4">Select Category</label>
        <div class="col-sm-8">
            <select class="form-control" id="">
              <option>vb .net</option>
              <option>SQL</option>
              <option>Backend programming language</option>
              <option>front end</option>
            </select>
          </div>
    </div>
  </form>
</div>

<br>
<br>

<div id= "table " class="col-sm-12 border">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">S.N.</th>
            <th scope="col">Question</th>
            <th scope="col">Description</th>
            <th scope="col">Option 1</th>
            <th scope="col">Option 2</th>
            <th scope="col">Option 3</th>
            <th scope="col">Option 4</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
                <button type="button" class="btn btn-primary">Edit</button> &nbsp;
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
                <button type="button" class="btn btn-primary">Edit</button> &nbsp;
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                  <button type="button" class="btn btn-primary">Edit</button> &nbsp;
                  <button type="button" class="btn btn-danger">Delete</button>
              </td>
          </tr>
        </tbody>
      </table>
</div>

<br>
<button type="button" class="btn btn-primary">Add Question</button>
