<br>
<br>
<div id="form" class="col-lg-12">
  <form>
    <div class="row">
      <label class="col-sm-4">Question Model Name</label>
      <input type="email" class="form-control col-sm-8" aria-describedby="emailHelp" placeholder="Question Model Name">
    </div>
    <br>
    <div class="row">
      <label class="col-sm-4">Question Description</label>
      <textarea class="form-control col-sm-8" rows="5"></textarea>
    </div>
    <br>

    <label class="col-sm-4 font-weight-bold">Rules and policies</label>
    <div id="table " class="col-sm-12 border">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">S.N.</th>
            <th scope="col">Rules</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>
              <button type="button" class="btn btn-primary">Edit</button> &nbsp;
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>
              <button type="button" class="btn btn-primary">Edit</button> &nbsp;
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>@twitter</td>
            <td>
              <button type="button" class="btn btn-primary">Edit</button> &nbsp;
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

<br>
<br>

<label class="col-sm-4 font-weight-bold">Question Model Detail</label>
    <div id="table " class="col-sm-12 border">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">S.N.</th>
            <th scope="col">Category</th>
            <th scope="col">Number of Question</th>
            <th scope="col">Display Order</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>
              <button type="button" class="btn btn-primary">Edit</button> &nbsp;
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Otto</td>
            <td>
              <button type="button" class="btn btn-primary">Edit</button> &nbsp;
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>@twitter</td>
            <td>@testing</td>
            <td>Otto</td>
            <td>
              <button type="button" class="btn btn-primary">Edit</button> &nbsp;
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
